$red-200: #fed7d7;
$red-300: #feb2b2;
$red-800: #c53030;
$link_color: #c53030;
$link_color_hover: #f56565;
$gray-800: #2d3748;
$gray-700: #4a5568;
$gray-600: #718096;
$gray-500: #a0aec0;
$gray-300: #e2e8f0;
$green-600: #38a169;
